# Python artifacts
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Output files
outputs/
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
cleanenv/


# System files
.DS_Store

# Azure-related
aml_config/
