annotated-types
anyio
asgiref
attrs
azure-ai-ml
azure-common
azure-core
azure-core-tracing-opentelemetry
azure-identity
azure-mgmt-core
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
azure-storage-blob
azure-storage-file-datalake
azure-storage-file-share
azureml-mlflow
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
databricks-sdk
Deprecated
exceptiongroup
fastapi
fixedint
gitdb
GitPython
google-auth
h11
idna
importlib_metadata
isodate
joblib
jsonpickle
jsonschema
jsonschema-specifications
marshmallow
mlflow-skinny
msal
msal-extensions
msrest
numpy
oauthlib
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-django
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-wsgi
opentelemetry-resource-detector-azure
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
pandas
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydash
PyJWT
python-dateutil
pytz
PyYAML
referencing
requests
requests-oauthlib
rpds-py
rsa
scikit-learn
scipy
six
smmap
sniffio
sqlparse
starlette
strictyaml
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wrapt
zipp